<%- include("Header") -%>
<%- include("nav") -%>


<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-9 col-lg-12 mx-auto">
      <div class="card card-signin my-">
        <div class="card-body">

            <ul id="viajes" class="list-group">
              <% if (tipo == "Pasajero"){%>
                <% for (let i = 0; i< ViajesSolicitados.length; i++) { %> 
                  <li style="text-align: center;" class="list-group-item">
                    Solicitado el 
                    <%=new Date(ViajesSolicitados[i].created_at).toLocaleString().slice(0, 9)%>
                    a las 
                    <%=new Date(ViajesSolicitados[i].created_at).toLocaleString().slice(9, 18)%>
                    yendo desde 
                    <%=ViajesSolicitados[i].from_address%>
                    , hasta 
                    <%=ViajesSolicitados[i].to_address%>.
                  </li>
                <% } %>
              <% } %> 

              <% if (tipo == "Chofer"){%>
                <% for (let i = 0; i< Autos.length; i++) { %> 
                  <li style="text-align: center;" class="list-group-item">
                    Solicitado el 
                    <%=new Date(Autos[i].ViajesSolicitados[0].created_at).toLocaleString().slice(0, 9)%>
                    a las 
                    <%=new Date(Autos[i].ViajesSolicitados[0].created_at).toLocaleString().slice(9, 18)%>
                    yendo desde 
                    <%=Autos[i].ViajesSolicitados[0].from_address%>
                    , hasta 
                    <%=Autos[i].ViajesSolicitados[0].to_address%>.
                  </li>
                <% } %>
              <% } %>

            </ul>

            
            
            <br>
            <a id="volverref" href="/<%=Usuarios[0].name + '/' + id  %>" class="btn btn-primary" style="display: none;"></a>
            <button style="display: block;" id="volverboton" class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="buttom" onclick="document.getElementById('volverref').click()">Volver al menu</button>
  
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("Footer") -%>